<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View One</title>
</head>
<body>
    <h1>Friend #{{this_friend.id}}</h1>
    <a href="/">Home</a>
    <p>Full Name: {{this_friend.first_name}} {{this_friend.last_name}}</p>
    <p>Occupation: {{this_friend.occupation}}</p>
    <p>Created On: {{this_friend.created_at}}</p>
    <p>Last Updated On: {{this_friend.updated_at}}</p>
</body>
</html>